<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="51200" />
    <pages validateRequest="false" />
  </system.web>
</configuration>
